/* small babies */

html {
  font-size: 16px;
}

body, p {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'arial_black';
    src: url('arial_black-webfont.eot');
    src: url('arial_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('arial_black-webfont.woff2') format('woff2'),
         url('arial_black-webfont.woff') format('woff'),
         url('arial_black-webfont.ttf') format('truetype'),
         url('arial_black-webfont.svg#arial_black') format('svg');
    font-weight: normal;
    font-style: normal;
}

#no-hanging-chads {
  top: 50vh;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  position: relative;
}

#text {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 250%;
  font-size: 6em;
  font-family: 'Arial Black', 'arial_black', 'Arial Bold', Gadget, sans-serif;
  font-weight: bold;
}

#check-box {
  top: 50%;
  right: 0;
  left: 0;
  position: absolute;
}

#box {
  margin: -2em auto 0;
  height: 5em;
  width: 5em;
  border: solid black;
  border-width: 1px 1px 8px 8px;
  box-shadow:  1px -1px 0 0 black,
               2px -2px 0 0 black,
               3px -3px 0 0 black,
               4px -4px 0 0 black,
               5px -5px 0 0 black,
               6px -6px 0 0 black,
               7px -7px 0 0 black,
               8px -8px 0 0 black,
               9px -9px 0 0 black,
              10px -10px 0 0 black,
              11px -11px 0 0 black,
              12px -12px 0 0 black,
              13px -13px 0 0 black,
              14px -14px 0 0 black,
              15px -15px 0 0 black,
              16px -16px 0 0 black,
              17px -17px 0 0 black,
              18px -18px 0 0 black;
  cursor: pointer;
  position: relative;
}

#check {
  margin: 0 auto;
  top: -50%;
  left: -10%;
  height: 8.1em;
  width: 8em;
  background: url(img/check.png) no-repeat center center;
  background-size: 100%;
  display: none;
  position: absolute;
}

#pp-buttons {
  margin-top: 20rem;
  font-family: sans-serif;
  display: block;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#item-options {
  margin: 1rem 0 0 2.5rem;
}

/* big babies */
@media screen and (min-width: 700px) {

  #no-hanging-chads {
    text-align: center;
    white-space: nowrap;
    margin-left: -9px;
  }

  #text {
    display: inline-block;
    line-height: 100%;
    max-width: 100%;
  }

  #check-box {
    margin-left: 1rem;
    position: static;
    display: inline-block;
    vertical-align: bottom;
  }

  #box {
    cursor: pointer;
  }

  #check {
    top: -50%;
    left: -10%;
    height: 8em;
    width: 8em;
  }

  #pp-buttons {
    margin-top: 12rem;
  }

  #item-options {
    margin: 1rem 0 0 1rem;
  }
}
